@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@300&display=swap');

.formContainer{
    background-color: #f6f6f6;
    border: 1px solid #cecece;
    margin: 2rem 1rem;
}

a {
    width: 100%;
    border: 1px solid #cecece;
    margin: 2rem 0 0 0;
    display: block;
    transition: 0.5s;
}

a:hover {
    background-color: #ffffff;
}

form{
    display: block;
    max-width: 20rem;
    margin: 0 auto;
    padding: 1rem;
    background-color: #ffffff;
    color: #00965e;
    border: 1px solid #cecece;
    min-width: 10rem;
}

form > input, select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    height: 2rem;
    padding: 0.25rem 0.5rem;
    border: none;
    color: black;
    font-family: 'Open Sans','regular',arial;
    border: 1px solid #cecece;
    border-radius: 0;
    min-width: 6rem;
    margin-bottom: 1rem;
}

form > input:focus, select:focus{
    outline: none !important;
    border: 1px solid #00965e;
}

form > input[type=submit]{
    margin: 1rem;
    width: auto;
    padding: 0.2rem 1rem;
    font-weight: 900;
    height: 2rem;
    border: none;
    color: #ffffff;
    background-color: #00965e;
    border-radius: 0.1rem;
}

form > input[type=submit]:hover{
    color: #063e29;
}

form > label {
    font-size: medium;
    font-weight: 600;
    color: #000000;
    display: block;
    text-align: left;
}

form > input[type=radio] {
    display: inline;
}

label {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.value {
    font-size: 1rem;
    font-weight: inherit;
    color: #000000;
    display: inherit;
}

.radioGroup {
    display: inline-block;
    margin: 0 0.4rem;
}

.cancel-button{
    background-color: inherit !important;
    border: 1px solid #00965e !important;
    color: #00965e !important;
    transition: 0.5s;
}


.logout-button{
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    background-color: grey;
    color: white;
    padding: 0.5rem 1rem;
    width: auto;
}
.logout-button:hover{
    color: #3c3c3c;
    padding: 1rem;
}

h2 {
    font-weight: 600;
    font-family: 'Open Sans Condensed',arial;
    text-transform: uppercase;
}

h3 {
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Open Sans Condensed',arial;
}